main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(100%, 25rem), 1fr));
    margin-inline: 10%;
}

main .form-gps {
    display: flex;
    flex-direction: row;
}

button {
    width: calc(100% - 16px);
    background-color: #056689;
    color: white;
    padding-block: 8px;
    border-radius: 12px;

    outline: none;
    cursor: pointer;

    margin-top: 12px;
    margin-inline: 8px;
}

@media (max-width: 768px) {
    main .form-gps {
        flex-wrap: wrap;
    }
}