.navbar {
    position: static;
    width: 100%;
    height: auto;
    z-index: 1;

    box-sizing: border-box;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.navbar .logo {
    margin-inline: 12px;
}

.navbar .logo h4 a{
    text-decoration: none;
    color: black;
}

.navbar nav .btn-check {
    display: none;
    font-size: 30px;
    color: black;
    font-weight: bold;
    cursor: pointer;

    right: 0;
    padding-block: 8px;
    padding-inline: 12px;
    position: absolute;
}
.navbar nav .btn-check:hover {
    background-color: rgba(0,0,0,0.1);
}

#check {
    display:none;
}

.navbar nav ul {
    display: flex;
    list-style: none;
    padding: 0;
}

.navbar nav ul > li > a {
    display: block;
    padding-block: 8px;
    padding-inline: 18px;
    text-decoration: none;
}

.navbar nav ul li a:hover {
    border-radius: 16px;
    background-color: rgba(0,0,0,0.1);
    cursor: pointer;
}

.navbar nav ul li .submenu {
    position: absolute;
    display: none;
    list-style: none;
    max-width: 200px;
    background-color: white;
}

.navbar nav ul li:hover .submenu {
    display: block;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.navbar nav ul li .submenu li a:hover{
    border-radius: 0;
}

@media (max-width: 768px) {
    .navbar nav .menu{
        display: none;
    }
    .navbar nav .btn-check{
        display: block;
    }
    #check:checked ~ .menu {
        display: block;
    }

    .navbar nav ul {
        position: absolute;
        z-index: 1;
        display: flex;
        flex-direction: column;
        top: 60px;
        right: 0;
        margin: auto;

        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
    .navbar nav ul li a:hover{
        border-radius: 0;
    }
    .navbar nav ul li:hover .submenu {
        position: absolute;
        width: auto;
        right: 100%;
    }
}