.form-control {
    width: 100%;
    height: auto;
    margin-bottom: 8px;

    display: flex;
    flex-direction: column;
    padding: 8px;
}

.form-control label {
    margin-bottom: 6px;
}

.form-control input{
    padding-block: 8px;
    padding-inline: 8px;
    outline: none;
    box-sizing: border-box;
}

.form-control input:focus{
    border: 1px solid blue;
}

input[type='file']{
    border: 1px solid #000;
}